.blue {
    color: blue;
}

.border {
    border: 1px solid #000;
    border-radius: 5px;
}

.nav {
    display: flex;
}

.nav>li {
    margin: 6px;
    list-style-type: none;
    border: 1px solid red;
    padding: 5px;
    background-color: #e5e5e5;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#intro {
    color: brown;
}


* {
    color: red;
}

h1 {
    text-decoration: underline;
}