.card {
    /* border: 1px solid black; */
    margin: 2rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.temp {
    font-size: 2rem;
}